<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <url>static/css/styles.css</url>
    <!-- Head is where you can include metadata, links to CSS, and scripts. -->
</head>
<body> 
    <!-- Body is where the visible content goes. -->
     <div class = "container"> <!--A div is a box-->
        <h1 class="login-title">Login</h1>
        <!--<h1>Login</h1>-->
        <form></form>
        <h1 class ="register-title">Register</h1>
        <form></form>
     </div>
</body>
</html>